<nav>
    <button class="btn btn-primary btn-sm mx-1">Select Ward</button> <br><br>
    <button class="btn btn-primary  btn-sm mx-1" routerLink="dashboard">Dashboard</button><br><br>
    <button class="btn btn-primary btn-sm mx-1">Live Classes</button><br><br>
    <button class="btn btn-primary btn-sm mx-1" routerLink="assignment">Assignment</button><br><br>
    <button class="btn btn-primary btn-sm mx-1" >E-books</button><br><br>
    <button class="btn btn-primary btn-sm mx-1" >For Parents</button><br><br>
</nav>