.headings h5
{
    margin-left: 10px;
    display: inline-block;
}

.select_option
{
    float: right;
    margin-right: 10px;
    width: 10%;
}

.buttons button
{
    border-radius: 30px;
    width: 200px;
    height: 50px;
}