<div class="container">
    <h3>Dashboard</h3>
    <div class="headings mt-4">
        <div class="row">
            <div class="col-9">
                <h5>Activities</h5>
            </div>
            <div class="col">
                <select class="form-select" name="subject">
                    <option value="EVS">EVS</option>
                    <option value="SS">Social Science</option>
                    <option value="MATH">Mathematics</option>
                </select>
            </div>
        </div>
    </div>
    <div class="buttons mt-3">
        <button type="button" class="btn btn-primary mx-2">Think Room Videos</button>
        <button type="button" class="btn btn-primary mx-2">Pending Activities</button>
        <button type="button" class="btn btn-primary mx-2">All Activities</button>
    </div>
    <!-- <div>
        <app-assignment></app-assignment>    
    </div> -->
    <div>
        <div class="card mt-5">            
            <div class="card-body">
                <button type="button" style="width: auto; height: 40px;" class="btn btn-outline-success">EVS</button>
                <h3 style="display: inline-block;padding-left: 10px;">Food we eat to stay healthy</h3>
                <a href="#" style="text-decoration: none;"><p style="margin-top: 15px;">Click to see the video</p></a>
            </div>
        </div>
        <div class="card mt-4">            
            <div class="card-body">
                <button type="button" style="width: auto; height: auto;" class="btn btn-outline-success">Social Science</button>
                <h3 style="display: inline-block;padding-left: 10px;">Tasks to do at home</h3>
                <a href="#" style="text-decoration: none;"><p style="margin-top: 15px;">Click to see the video</p></a>
            </div>
        </div>
        <div class="card mt-4">            
            <div class="card-body">
                <button type="button" style="width: auto; height: auto;" class="btn btn-outline-success">Mathematics</button>
                <h3 style="display: inline-block;padding-left: 10px;">Excercise to do at home</h3>
                <a href="#" style="text-decoration: none;"><p style="margin-top: 15px; ">Click to see the video</p></a>
            </div>
        </div>
    </div>
</div>