<div class="container">
    <h3>Dashboard</h3>
    <div class="headings mt-4">
        <div class="row">
            <div class="col-9">
                <h5>Activities</h5>
            </div>
            <div class="col">
                <select name="subject" id="">
                    <option value="EVS">EVS</option>
                    <option value="SS">Social Science</option>
                    <option value="MATH">Mathematics</option>
                </select>
            </div>
        </div>
    </div>
    <div class="buttons mt-3">
        <button type="button" class="btn btn-primary mx-2">Think Room Videos</button>
        <button type="button" class="btn btn-primary mx-2">Pending Activities</button>
        <button type="button" class="btn btn-primary mx-2">All Activities</button>
    </div>
</div>