<div class="container">
    <h3>Dashboard</h3>
    <div class="headings mt-4">
        <h5>Activities</h5>
        <select class="select_option">
            <option selected value=""><i class="fa fa-filter" aria-hidden="true"></i>
                Subject</option>
            <option value="EVS">EVS</option>
            <option value="Social_Science">Social Science</option>
            <option value="Mathematics">Mathematics</option>
        </select>
    </div>
    <div class="buttons mt-3">
        <button type="button" class="btn btn-primary mx-2">Think Room Videos</button>
        <button type="button" class="btn btn-primary mx-2">Pending Activities</button>
        <button type="button" class="btn btn-primary mx-2">All Activities</button>
    </div>
</div>